<sb-layout-dashboard>
  <sb-dashboard-head title="{{title}}" [hideBreadcrumbs]="false"></sb-dashboard-head>
          <div class="alert alert-success alert-dismissible fade show" role="alert"  *ngIf="alertSuccess">
              <strong>{{alertTitle}}</strong> <br/>{{alertContent}}
              <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>

            <div class="alert alert-danger alert-dismissible fade show" role="alert"  *ngIf="alertError">
              <strong>{{alertTitle}}</strong> <br/>{{alertContent}}
              <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>


            <div class="alert alert-info alert-dismissible fade show" role="alert"  *ngIf="alertInfo">
              <strong>{{alertTitle}}</strong> <br/>{{alertContent}}
              <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>


      <sb-card>
          <div class="card-header">
              <div class="row">
                  <div class="col-md-8">
                      <fa-icon class="mr-1" [icon]='["fas", "table"]'></fa-icon>{{title}} List
                  </div>
                  <div class="col-md-4 float-right">
                    <button class="btn btn-primary"
                    (click)="showAdd()"><i class="fa fa-plus" aria-hidden="true"></i> Add Data</button>
                   </div>
                </div>

          </div>
      <div class="card-body">
          <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger"  class="table table-observer table-striped thead-dark">
              <thead>
                  <tr>
                    <tr>
                      <th scope="col">UUID Users</th>
                      <th scope="col">Role</th>
                      <th scope="col">Branch</th>
                      <th scope="col">Email</th>
                      <th scope="col">Fullname</th>
                      <th scope="col">Phone</th>
                      <th scope="col">Status Active</th>
                      <th>Action</th>
                  </tr>
                  <tr  *ngFor="let data of dataTableTemp">
                    <td>{{data.uuidUsers}}</td>
                    <td>{{data.roles.nameRoles}}</td>
                    <td>{{data.branchList}}</td>
                    <td>{{data.email}}</td>
                    <td>{{data.fullname}}</td>
                    <td>{{data.phone}}</td>
                    <td>{{data.active}}</td>
                    <td>
                        <div class='actions-buttons center' id=''>
                            <i kind='edit' class='fa fa-edit pointer text-info' title='Edit' (click)="showEdit(data)"></i>&nbsp;&nbsp;
                            <i kind='delete' class='fa fa-trash pointer text-danger' title='Delete' (click)="showDelete(data)" ></i>
                        </div>
                    </td>
                  </tr>
              </thead>
              <tbody >

              </tbody>
          </table>

          <ng-template #mymodal let-modal>
              <form  [formGroup]="form" (ngSubmit)="submit()">
              <div class="modal-header" *ngIf="!loading">
                <h4 class="modal-title" id="modal-basic-title">{{title}}</h4>
                <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
                  <span aria-hidden="true">×</span>
                </button>
              </div>
              <div class="modal-body">
                  <div class="text-center" *ngIf="loading">
                      <img src="assets/img/745.gif"/>
                  </div>
                  <div  *ngIf="!loading">

                      <div class="form-group">
                        <label for="exampleInputEmail1">Email</label>
                        <input type="text" class="form-control" id="email" formControlName="email" aria-describedby="emailHelp" placeholder="Email">
                        <div *ngIf="form.controls.email.errors?.required && form.controls.email.touched" class="error">
                          *Required
                        </div>
                      </div>
                      
                      <div class="form-group">
                        <label for="exampleInputEmail1">Fullname</label>
                        <input type="text" class="form-control" id="fullname" formControlName="fullname" aria-describedby="emailHelp" placeholder="Fullname">
                        <div *ngIf="form.controls.fullname.errors?.required && form.controls.fullname.touched" class="error">
                          *Required
                        </div>
                      </div>

                      <div class="form-group">
                        <label for="exampleInputEmail1">Phone</label>
                        <input type="text" class="form-control" id="phone" formControlName="phone" aria-describedby="emailHelp" placeholder="Phone">
                        <div *ngIf="form.controls.phone.errors?.required && form.controls.phone.touched" class="error">
                          *Required
                        </div>
                      </div>

                      <div class="form-group">
                        <label for="exampleInputEmail1">Password</label>
                        <input type="text" class="form-control" id="password" formControlName="password" aria-describedby="emailHelp" placeholder="Password">
                        <div *ngIf="form.controls.password.errors?.required && form.controls.password.touched" class="error">
                          *Required
                        </div>
                      </div>


                      <!-- <div class="form-group">
                          <label for="exampleInputEmail1">Role</label>
                          <l-select2 formControlName="uuidRoles" [data]="dataData" [options]="optionsApplications"></l-select2>
                          <div *ngIf="form.controls.uuidRoles.errors?.required && form.controls.uuidRoles.touched" class="error">
                          *Required
                          </div>
                      </div> -->

                      <div class="form-group">
                        <label for="exampleInputPassword1">Role</label>
                        <select  id="uuidRoles" formControlName="uuidRoles" class="form-control">
                            <ng-container *ngFor="let dt of dataData;">
                                <option  [value]="dt.uuidRoles">
                                    {{dt.nameRoles}}
                                  </option>
                            </ng-container>

                        </select>
                        <div *ngIf="form.controls.uuidRoles.errors?.required && form.controls.uuidRoles.touched" class="error">
                            *Required
                          </div>
                      </div>

                      <div class="form-group">
                        <label for="exampleInputEmail1">Branch</label>
                        <l-select2 formControlName="branchList" [data]="dataBranch" [options]="optionsBranch"></l-select2>
                        <div *ngIf="form.controls.branchList.errors?.required && form.controls.branchList.touched" class="error">
                        *Required
                        </div>
                    </div>



                      <!-- <div class="form-group">
                        <label for="exampleInputEmail1">Branch</label>
                        <l-select2 formControlName="branchList" [data]="dataBranch" [options]="optionsBranch"></l-select2>
                        <div *ngIf="form.controls.branchList.errors?.required && form.controls.branchList.touched" class="error">
                        *Required
                        </div>
                    </div> -->


                      
                      <div class="form-check">
                        <input type="checkbox" class="form-check-input" formControlName="active" id="active">
                        <label class="form-check-label" for="active">Status Active</label>
                      </div>


                  </div>

              </div>
              <div class="modal-footer" *ngIf="!loading">
                  <button type="submit" class="btn btn-primary">Save</button>&nbsp;
                  <button (click)="modal.close('Save click')" class="btn btn-danger">Cancel</button>      </div>
              </form>


            </ng-template>


            <ng-template #myDialog let-modal>

              <div class="modal-body">
                  <div class="text-center" *ngIf="loading">
                      <img src="assets/img/745.gif"/>
                  </div>
                  <div  *ngIf="!loading">
                      Are you sure want to permanently delete this record ?
                  </div>

              </div>
              <div class="modal-footer" *ngIf="!loading">
                  <button (click)="modal.close('dodelete')" type="button" class="btn btn-danger btn-sm">Delete</button>&nbsp;
                  <button (click)="modal.close('Save click')" class="btn btn-primary btn-sm">Cancel</button>
              </div>



            </ng-template>

            <ngb-toast class="{{toast.className}}"
            *ngFor="let toast of Toast.toasts"
            [header]="toast.header" [autohide]="true" [delay]="toast.delay || 5000"
            (hide)="Toast.remove(toast)"
          >{{toast.body}}</ngb-toast>
      </div>
  </sb-card>
</sb-layout-dashboard>

