<sb-layout-dashboard>
    <sb-dashboard-head title="{{title}}" [hideBreadcrumbs]="false"></sb-dashboard-head>
            <div class="alert alert-success alert-dismissible fade show" role="alert"  *ngIf="alertSuccess">
                <strong>{{alertTitle}}</strong> <br/>{{alertContent}}
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>

              <div class="alert alert-danger alert-dismissible fade show" role="alert"  *ngIf="alertError">
                <strong>{{alertTitle}}</strong> <br/>{{alertContent}}
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>


              <div class="alert alert-info alert-dismissible fade show" role="alert"  *ngIf="alertInfo">
                <strong>{{alertTitle}}</strong> <br/>{{alertContent}}
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>


        <sb-card>
            <div class="card-header">
                <div class="row">
                  <div class="col-md-7">
                    <fa-icon class="mr-1" [icon]='["fas", "table"]'></fa-icon>{{title}} List
                  </div>
                  <div class ="col-md-5 float-right">
                    <button class="btn btn-primary"
                    (click)="showAdd()"><i class="fa fa-plus" aria-hidden="true"></i> Add Data</button>
                    &nbsp;
    
                    <button class="btn btn-primary"
                    (click)="getExcelData()"><i class="fa fa-download" aria-hidden="true"></i> Download</button>
                    &nbsp;

                    <button class="btn btn-primary"
                    (click)="regenerateData()"><i class="fa fa-refresh" aria-hidden="true"></i> Regenerate</button>
                  </div>
                </div>

            </div>
        <div class="card-body">
            <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger"  class="table table-observer table-striped thead-dark">
                <thead>
                    <tr>
                        <th scope="col">Kode COA</th>
                        <th scope="col">Keterangan</th>
                        <th scope="col">Jenis Liabilitas</th>
                        <th scope="col">Golongan Kreditur</th>
                        <th scope="col">Hubungan Kreditur</th>
                        <th scope="col">Negara Kreditur</th>
                        <th scope="col">Pend Bkn Pend</th>
                        <th>Action</th>
                    </tr>
                    <tr  *ngFor="let data of dataTableTemp">
                      <td>{{data.kodeCoa}}</td>
                      <td>{{data.keterangan}}</td>
                      <td>{{data.jenisLiabilitas}}</td>
                      <td>{{data.golonganKreditur}}</td>
                      <td>{{data.hubunganKreditur}}</td>
                      <td>{{data.negaraKreditur}}</td>
                      <td>{{data.pendBknPend}}</td>
                      <td>
                          <div class='actions-buttons center' id=''>
                              <i kind='edit' class='fa fa-edit pointer text-info' title='Edit' (click)="showEdit(data)"></i>&nbsp;&nbsp;
                              <i kind='delete' class='fa fa-trash pointer text-danger' title='Delete' (click)="showDelete(data)" ></i>
                          </div>
                      </td>
                  </tr>
                </thead>
                <tbody >

                </tbody>
            </table>

            <ng-template #mymodal let-modal>
                <form  [formGroup]="form" (ngSubmit)="submit()">
                <div class="modal-header" *ngIf="!loading">
                  <h4 class="modal-title" id="modal-basic-title">{{title}}</h4>
                  <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
                    <span aria-hidden="true">×</span>
                  </button>
                </div>
                <div class="modal-body">
                    <div class="text-center" *ngIf="loading">
                        <img src="assets/img/745.gif"/>
                    </div>
                    <div  *ngIf="!loading">
                      <div class="form-group">
                        <label for="exampleInputEmail1">Kode COA</label>
                        <input type="text" class="form-control" id="kodeCoa" formControlName="kodeCoa" aria-describedby="emailHelp" placeholder="Kode Coa">
                        <div *ngIf="form.controls.kodeCoa.errors?.required && form.controls.kodeCoa.touched" class="error">
                          *Required
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="exampleInputEmail1">Keterangan</label>
                        <input type="text" class="form-control" id="keterangan" formControlName="keterangan" aria-describedby="emailHelp" placeholder="Keterangan">
                        <div *ngIf="form.controls.keterangan.errors?.required && form.controls.keterangan.touched" class="error">
                          *Required
                        </div>
                    </div>

                    <div class="form-group">
                      <label for="exampleInputEmail1">Jenis Liabilitas</label>
                      <input type="text" class="form-control" id="jenisLiabilitas" formControlName="jenisLiabilitas" aria-describedby="emailHelp" placeholder="Jenis Liabilitas">
                      <div *ngIf="form.controls.jenisLiabilitas.errors?.required && form.controls.jenisLiabilitas.touched" class="error">
                        *Required
                      </div>
                    </div>

                    <div class="form-group">
                        <label for="exampleInputEmail1">Golongan Kreditur</label>
                        <input type="text" class="form-control" id="golonganKreditur" formControlName="golonganKreditur" aria-describedby="emailHelp" placeholder="Golongan Kreditur">
                        <div *ngIf="form.controls.golonganKreditur.errors?.required && form.controls.golonganKreditur.touched" class="error">
                          *Required
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="exampleInputEmail1">Hubungan Kreditur</label>
                        <input type="text" class="form-control" id="hubunganKreditur" formControlName="hubunganKreditur" aria-describedby="emailHelp" placeholder="Hubungan Kreditur">
                        <div *ngIf="form.controls.hubunganKreditur.errors?.required && form.controls.hubunganKreditur.touched" class="error">
                          *Required
                        </div>
                    </div>

                    <div class="form-group">
                      <label for="exampleInputEmail1">Negara Kreditur</label>
                      <input type="text" class="form-control" id="negaraKreditur" formControlName="negaraKreditur" aria-describedby="emailHelp" placeholder="NegaraKreditur">
                      <div *ngIf="form.controls.negaraKreditur.errors?.required && form.controls.negaraKreditur.touched" class="error">
                        *Required
                      </div>
                    </div>

                    <div class="form-group">
                      <label for="exampleInputEmail1">Pend Bkn Pend</label>
                      <input type="text" class="form-control" id="pendBknPend" formControlName="pendBknPend" aria-describedby="emailHelp" placeholder="Pend Bkn Pend">
                      <div *ngIf="form.controls.pendBknPend.errors?.required && form.controls.pendBknPend.touched" class="error">
                        *Required
                      </div>
                  </div>
                </div>
                </div>

                <div class="modal-footer" *ngIf="!loading">
                    <button type="submit" class="btn btn-primary">Save</button>&nbsp;
                    <button (click)="modal.close('Save click')" class="btn btn-danger">Cancel</button>      </div>
                </form>


              </ng-template>


              <ng-template #myDialog let-modal>

                <div class="modal-body">
                    <div class="text-center" *ngIf="loading">
                        <img src="assets/img/745.gif"/>
                    </div>
                    <div  *ngIf="!loading">
                        Are you sure want to permanently delete this record ?
                    </div>

                </div>
                <div class="modal-footer" *ngIf="!loading">
                    <button (click)="modal.close('dodelete')" type="button" class="btn btn-danger btn-sm">Delete</button>&nbsp;
                    <button (click)="modal.close('Save click')" class="btn btn-primary btn-sm">Cancel</button>
                </div>



              </ng-template>

              <ngb-toast class="{{toast.className}}"
              *ngFor="let toast of Toast.toasts"
              [header]="toast.header" [autohide]="true" [delay]="toast.delay || 5000"
              (hide)="Toast.remove(toast)"
            >{{toast.body}}</ngb-toast>
        </div>
    </sb-card>
</sb-layout-dashboard>
